.Container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.Left,
.Right {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Left {
  background-color: #222;
}

.Right {
  background-color: #fff;
}

@media (max-width: 800px) {
  .Container {
    flex-direction: column;
  }

  .Left,
  .Right {
    width: 100%;
  }

  .Left {
    height: 45%;
  }

  .Right {
    height: 55%;
  }
}
