.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

.Left,
.Right {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Left {
  background-color: #222;
}

.Right {
  background-color: #fff;
}

@media (max-width: 800px) {
  .Container {
    flex-direction: column;
  }

  .Left,
  .Right {
    height: 50vh;
    width: 100vw;
  }
}
